This is the Automated Linting Scan. It scans all repositories and checks if there are linting errors in the gitlab-ci.yml.

You can find more information in [the documentation](https://telekom-mms.github.io/gitlab-linting-scanner/)

The script will only create this single ticket. You can close it if you fixed the issues and it will be re-opened once new issues are found.

## Scanner Output:

```
{{ scanner_output }}
```
